@charset "ISO-8859-1";

body {
  background-color: black;
}

#black-bg {
	background-color: black;
	color: white;
}

.black-bg {
	color: white;
}

section {
	opacity: 0;
	transform: translate(0, 20px); 
	transition: all 1s;
}

section.visible {
	opacity: 1;
	transform: translate(0, 0); 
}

.hundredHeight {
  	display:table-cell;
  	text-align:center;
  	vertical-align:middle;
    font-size: 3.0vw;
	height: 100vh;
}

.item {
	max-height: 550px;
	overflow: hidden;}

img.resize {
	max-width:100%;
}

.center {
	text-align: center;
	font-size: 2.0vw;
}