@charset "ISO-8859-1";

body {
  background-color: black;
}

/* .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
} */

#black-bg {
	background-color: black;
	color: white;
}
section {
	opacity: 0;
	transform: translate(0, 20px); 
	transition: all 1s;
}

section.visible {
	opacity: 1;
	transform: translate(0, 0); 
}